nav {
    background-color: tomato;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;

    div {
        color: white;
        display: flex;
        align-items: center;
        gap: .8rem;

        i {
            font-size: xx-large;
        }
    }

    ul {
        display: flex;
        align-items: center;
        gap: 1rem;
        list-style: none;

        li {
            :hover {
                background-color: var(--txt-color);
            }

            a {
                padding: .4rem .8rem;
                color: white;
                text-decoration: none;
                border-radius: 8px;
            }
        }
    }
}