* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Trajan Pro Bold", sans-serif;
  background-color: #eeeeee;
}

:root {
  --main-color: rgba(49, 109, 3, 0.85);
  --main-color-acento: #b59a61;
  --background-color-formulario: rgb(205, 191, 174);
  --background-color-navlinks: #2c3e50
}


/****************  Encabezado  ****************/

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.banner {
  overflow: hidden;
  white-space: nowrap;
  background-color: #000;
}

#scrolling-text {
  color: white;
  animation: scroll-left 25s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--main-color);
  color: white;

}

.logo img {
  width: 100px;
  margin-left: 50px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 5px 10px;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 50px;
}

.nav-links a:hover {
  color: var(--main-color-acento);
}

/*06-07-2024*/
.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px 50px;
}

/* Estilo para los botones */
.btn-navbar {
  max-width: 200px;
  /* Ajusta este valor según sea necesario */
  background-color: #1a1a1a;
  border: 1px solid #2c2c2c;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  align-items: center;
  text-decoration: none;
  gap: 10px;
}

.btn-navbar a {
  text-decoration: none;
  color: white;
}

.btn-navbar:hover {
  background-color: #129999;
  border: 1px solid #2c2c2c;
}

/* Estilo para el contenido del menú desplegable */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #dcedf5;
}

/* Mostrar el menú desplegable al pasar el ratón sobre el botón */
.btn-navbar:hover .dropdown-content {
  display: block;
}

/*****************  Slider  *******************/

.contenedor {
  width: 100%;
  overflow: hidden;
}

.slider-contenedor {
  width: 100%;
  display: flex;
}

.contenido-slider {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
}

.contenido-slider:nth-child(2) {
  background: #ff8400;
  color: #fff;
}

.contenido-slider:nth-child(3) {
  background: #129999;
}

.contenido-slider>img {
  width: 400px;
}

.contenido-slider>div {
  width: 40%;
}

.contenido-slider h2 {
  font-weight: 300;
  text-align: justify;
  line-height: 30px;
}

.contenido-slider a {
  color: #fff;
  background: #332863;
  width: 100px;
  display: block;
  padding: 15px 0;
  text-align: center;
  border-radius: 3px;
  margin-top: 20px;
  text-decoration: none;
}

.contenido-slider:nth-child(2) a {
  background: #fff;
  color: #332863;

}

/****************  Artículos  ******************/

.contenedor-articulo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.articulo {
  position: relative;
  background: #fff;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  transition: 0.5s;
}

.articulo:hover {
  box-shadow: 0 4px 10px rgba(17, 29, 48, 0.26);
}

.img-producto {
  width: 100%;
  height: auto;
}

/*************  Articulo modal  *******************/

/*:::Ventana Modal:::*/
#btn-modal {
  display: none;
}

.container-modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(144, 148, 150, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

#btn-modal:checked~.container-modal {
  display: flex;
}

.content-modal {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
}

.content-modal h2 {
  margin-bottom: 15px;
}

.content-modal p {
  padding: 15px 0px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

.content-modal #btn-cerrar {
  display: flex;
  justify-content: center;
  width: 30%;
  padding: 10px;
  background-color: #157347;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: all 300ms ease;
}

.content-modal #btn-cerrar:hover {
  background-color: #000;
}

.cerrar-modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/*06-07-2024*/
.content-modal #btn-comprar {
  display: flex;
  justify-content: center;
  width: 30%;
  padding: 10px;
  background-color: #157347;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: all 300ms ease;
}

.content-modal #btn-comprar:hover {
  background-color: #000;
}

.container-modal-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 10px;
}

/*************  Formulario  *******************/

#contacto {
  background-color: var(--background-color-formulario);
}

.contenedorFormulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 20px;
}

.contenedorFormulario form {
  height: 80vh;
}

/*06-07-2024*/
.contenedorFormulario h1 {
  text-align: center;
}

.contenedorFormulario label {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;
}

.titulo-contacto {
  padding-top: 30px;
  text-align: center;
}

.formulario {
  width: 100%;
  max-width: 600px;
  /* Ajusta este valor según sea necesario */
  margin: 0 auto;
}

.formItem {
  border: none;
  border-radius: 4px;
  padding: 10px;
}

.datos {
  display: flex;
  flex-direction: column;
}

.checkBox-container {
  display: flex;
  align-items: center;
}

.checkBox-container .inputCheckBox {
  margin-right: 8px;
}

.checkBox {
  display: flex;
  flex-direction: column;
}

.textopreguntaDelSelect {
  font-weight: bold;
  margin-top: 20px;
}

.textoDelArchivo {
  font-weight: bold;
  margin-top: 20px;
}

.contenedorArchivo {
  display: flex;
  flex-direction: column;
  margin-bottom: 32.1px;
  width: 100%;
}

.contenedorDelSelect {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

option {
  text-align: center;
}

.botonSubmit {
  width: 100%;
  /* Asegura que el botón ocupe el ancho del contenedor padre */
  max-width: 200px;
  /* Ajusta este valor según sea necesario */
  padding: 0.8rem 2rem;
  border: 1px solid #2c2c2c;
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  font-weight: bold;
}

.contenedorDelSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.select {
  height: 43.2px;
}

.error {
  color: #6b0505;
  font-size: 0.875em;
  margin-top: 0.25em;
  font-weight: bold;
}

/*****************  Login  *******************/
.contenedorFormularioLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 20px;
}

.contenedorFormularioLogin form {
  height: 60vh;
}

.contenedorFormularioLogin h1 {
  text-align: center;
}

.contenedorFormularioLogin label {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;
}


/*****************  Visitanos  *******************/

.title-map-container {
  text-align: center;
  margin: 50px;
}

.map-container {
  position: relative;
  overflow: hidden;
  padding-top: 20%;
  /* Aspect ratio 16:9 (divide el alto entre el ancho y lo multiplica por 100 para obtener el porcentaje) */
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.info-store-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}

.info-horarios {
  margin-top: 20px;
}

.facebook-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instagram-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/************  Conocenos  ************/
.sectionConocenos {
  background-color: #f8f9fa;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
}

.sectionConocenos div {
  margin-top: 20px;
  padding: 2%;
  align-content: center;
  align-items: center;
  text-align: left;
  margin-bottom: 50px;
  text-wrap: balance;
  line-height: 20px;
  font-size: 20px;
}

/*****************  Footer  *******************/

footer {
  background: var(--main-color);
  padding: 30px 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.partFooter {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #eee;
}

.partFooter h4 {
  color: #eee;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0px;
  margin-left: 0px;
  text-align: center;
}

.partFooter table {
  /**15.05**/
  display: flex;
  justify-content: center;
}

.partFooter a {
  display: block;
  text-decoration: none;
  color: #eee;
  font-weight: 300;
  transition: color 0.3s ease-in-out;
  margin-bottom: 10px;
}

.partFooter a:hover {
  color: #b59a61;
}


.partFooter img {
  width: 40%;
}

.social-media i {
  font-size: 20px;
  display: inline-block;
  color: #adb6c7;
  border: 1px solid #adb6c7;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  line-height: 36px;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
  transition: all ease-in-out 0.3s;
  margin-right: 5px;
}

.social-media i:hover {
  color: #fff;
  background-color: var(--main-color-acento);
  border-color: var(--main-color-acento);
}

/*06-07-2024*/

/*****************  Register-Login  *******************/
.login__heading {
  font-family: "Rajdhani", sans-serif;
  font-weight: 900;
  margin: 2rem 0;
  border-radius: 2rem;
  color: #131313;
  margin: 6rem 0 3rem 0;
  text-align: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario__campo {
  display: flex;
  flex-direction: column;
  gap: 1 rem;
  margin: 0 rem;
}

.formulario__label {
  display: block;
  font-size: 2rem;
  font-weight: 600;
  color: #FFFFFF;
}

.formulario__input {
  padding: 1rem;
  border: 1px solid var(--color-primario);
  border-radius: 0.5rem;
  width: 35rem;
  max-width: 35rem;
  background: #ececec;
}


.formulario__input:focus {
  outline: none;
  box-shadow: 0px 0px 21px 10px rgba(232, 90, 25, 0.29);
}


.formulario__input::placeholder {
  color: #222;
}

.acciones__enlaces {
  display: flex;
  color: var(--color-primario);
  justify-content: center;
}


/* USER LIST TABLE */
.user-list tbody td>img {
  position: relative;
  max-width: 50px;
  float: left;
  margin-right: 15px;
}

.user-list tbody td .user-link {
  display: block;
  font-size: 1.25em;
  padding-top: 3px;
  margin-left: 60px;
  text-transform: capitalize;
}

.user-list tbody td .user-subhead {
  font-size: 0.875em;
  font-style: italic;
}

/* TABLES */
.table {
  border-collapse: separate;
  padding: 10px;
}

.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
  background-color: #eee;
}

.table thead>tr>th {
  border-bottom: 1px solid #C2C2C2;
  padding-bottom: 0;
}

.table tbody>tr>td {
  font-size: 0.875em;
  background: #f5f5f5;
  border-top: 10px solid #fff;
  vertical-align: middle;
  padding: 12px 8px;
}

.table tbody>tr>td:first-child,
.table thead>tr>th:first-child {
  padding-left: 20px;
}

.table thead>tr>th span {
  border-bottom: 2px solid #C2C2C2;
  display: inline-block;
  padding: 0 5px;
  padding-bottom: 5px;
  font-weight: normal;
}

.table a.table-link {
  margin: 0 5px;
  font-size: 1.125em;
}

.table a.table-link:hover {
  text-decoration: none;
  color: #2aa493;
}

.table a.table-link.danger {
  color: #fe635f;
}

.table a.table-link.danger:hover {
  color: #dd504c;
}

/*--------------------------------Break Points-------------------------------------------------*/

/*Estilos para Pantallas mas grandes*/
@media screen and (min-width: 1200px) {

  /* NavBar */
  .nav-links {
    display: flex !important;
  }

  /* Formulario */
  .formulario {
    width: 60%;
  }

  .contenedorFormulario {
    height: auto;
  }

  .preguntaDelSelect {
    text-align: left;
    font-size: 30px;
  }

  .subTexto {
    font-size: 3.5vw;
  }

  .botonSubmit {
    padding: 0.8rem 2rem;
  }

  .formItem {
    height: 4vh;
  }

  /*Footer*/
  .partFooter img {
    width: 40%;
  }
}


/* Estilos para pantallas más medianas (hasta 1200px) */
@media screen and (min-width: 769px) and (max-width: 1200px) {

  /* NavBar */

  .nav-links {
    display: flex !important;
  }

  /*productos modal*/

  .content-modal {
    width: 90%;
  }

  /* Formulario */

  .contenedorFormulario {
    height: auto;
  }

  .formulario {
    width: 60%;
  }

  .checkBox {
    display: flex;
    justify-content: space-between;
  }

  .texto {
    padding-left: 15px;
  }

  /* Conocenos */
  .sectionConocenos div {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  /* Footer */

  .partFooter {
    width: 95%;
    margin-bottom: 40px;
  }

  .partFooter img {
    width: 20%;
  }

}

/* Estilos para pantallas más pequeñas (hasta 768px) */
@media screen and (min-width: 150px) and (max-width: 768px) {
  /*****************  Navbar  *******************/

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: var(--background-color-navlinks);
    position: absolute;
    top: 110px;
    left: 0;
    z-index: 1000;
  }

  .nav-links a {
    padding: 10px;
    border-top: 1px solid #444;
  }

  .menu-icon {
    display: block;
  }

  /*****************  Formulario  *******************/
  .contenedorFormulario {
    padding: 20px;
  }

  .botonSubmit {
    max-width: 100%;
  }


  /*****************  Slider  *******************/

  .contenido-slider {
    flex-direction: column-reverse;
  }

  .contenido-slider>div {
    width: 80%;
  }

  /*****************  Productos modal  *******************/
  .container-modal {
    padding: 20px;
  }

  /*****************  Tiendas  *******************/
  .map-container {
    padding-top: 100%;
  }

  .info-store-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social-media {
    display: flex;
    justify-content: center;
  }

  .social-media-container {
    margin-top: 10px;
  }

  /*****************  Formulario  *******************/
  .datos {
    flex-wrap: wrap;
  }

  .contenedorFormulario {
    height: 850px;
  }

  .contenedorArchivo {
    font-size: 15px;
  }

  .checkBox {
    display: flex;
    justify-content: space-between;
  }

  .texto {
    font-size: 15px;
    padding-left: 15px;
  }

  .contenedorDelSelect {
    font-size: 15px;
  }

  .preguntaDelSelect {
    justify-content: space-between;
    text-align: left;
    font-size: 30px;
  }

  .imagenContacto {
    height: 35vh;
  }

  .subTexto {
    font-size: 3.5vw;
  }

  /*****************  Conocenos  *******************/
  .sectionConocenos div {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  /*****************  Footer  *******************/
  .partFooter {
    width: 95%;
    margin-bottom: 40px;
  }

  .partFooter img {
    width: 20%;
  }

  .footer-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

  }
}