* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Trajan Pro Bold", sans-serif;
  background-color: #eeeeee;
}
 
/************  Estilos Generales  *************/
 
.fuente-clara {
  color: #eeeeee;
}

.fuente-oscura {
  color: #22211f;
}

.fuente-acento {
  color: #b59a61;
}

nav ul li {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

nav ul li a {
  color: #eeeeee;
}

/****************  Encabezado  ****************/
 
header {
  background-color: rgba(49, 109, 3, 0.851);
  width: 100%;
}

.logo {
  display: inline-block;
  font-size: 35px;
  line-height: 80px;
  padding: 0 50px;
  font-weight: bold;
  color:#eee
}

header {
  position: fixed;
  display: flex;
  z-index: 1000;
  top: 0;
}

header nav {
  height: 80px;
  float: right;
}

nav ul.menu {
  float: right;
}

nav ul.menu li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul.menu li a {
  color: #eee;
  font-size: 15px;
  text-transform: uppercase;
  padding: 7px 7px;
}

/******************  Menu  ********************/
.checkbtn {
  font-size: 25px;
  color: #eee;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

/*****************  Slider  *******************/
.contenedor{
    width: 100%;
    overflow: hidden;
}

.slider-contenedor{
  margin-top: 125px;
    width: 100%;
    display: flex;
}

.contenido-slider{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}

.contenido-slider:nth-child(2){
    background: #ff8400;
    color: #fff;
}

.contenido-slider:nth-child(3){
    background: #129999;
}

.contenido-slider > img{
    width: 400px;
}

.contenido-slider > div{
    width: 40%;
}

.contenido-slider h2{
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
}

.contenido-slider a{
    color: #fff;
    background: #332863;
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
}

.contenido-slider:nth-child(2) a{
    background: #fff;
    color: #332863;
    
}
/****************  Artículo  ******************/

.contenedor-articulo {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  justify-content: space-around;
}

.articulo {
  position: relative;
  width: 29%;
  background: #fff;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  transition: 0.5s;
}

.articulo:hover {
  box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}

.articulo>i {
  font-size: 30px;
  color: #fff;
  background: #316d03d9;
  display: inline-block;
  width: 70px;
  height: 70px;
  text-align: center;
  padding-top: 20px;
  border-radius: 50%;
  box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}

.articulo>h3 {
  font-size: 24px;
  margin-top: 30px;
}

.articulo>p {
  font-weight: 100;
  color: #5D6678;
  margin-top: 15px;
  padding-bottom: 20px;
}

.articulo>a {
  color: #5D6678;
  font-weight: 400;
  text-decoration: none;
}

.articulo>a:hover {
  color: #316d03d9;
  transition: color .5s;
}

/*************  Formulario  *******************/;

.subTexto {
  
  font-family: "Trajan Pro Bold", sans-serif;
  color: rgb(14, 13, 13);
  font-size: 30px;
  text-align: center;
}
.texto {
  font-family: sans-serif;
  color: rgb(14, 13, 13);
  font-size: 16px;
}
.contenedorContacto {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
}
.imagenContacto {
  position: center;
  height: 162px;
  width: 100%;
}
.formulario {
  margin-top: 30px;
  width: 65%;
  align-items: center;
}
.contenedorFormulario {
  background-color: rgb(205, 191, 174);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 500px;
}
.formItem {
  border: none;
  border-radius: 4px;
  border-top-color: #2c2c2c;
  border-bottom-color: #2c2c2c;
  width: 100%;
  height: 32.4px;
  font-size: 16px;
}
.datos {
  display: flex; 
  flex-direction: column;
  gap: 21.6px;
}
.checkBox {
  padding-bottom: 31.2px;
  font-size: 1.5em;
}

.contenedorDelSelect { 
  margin-top: 0px;
  display: flex;
  justify-content: left;
  margin-bottom: 32.4px;
  width: 100%;
}

.preguntaDelSelect {
  text-align: center;
  margin-top: 32.4px;
  margin-bottom: 32.4px;
}

.contenedorDelSubmit {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
option {
  text-align: center;
}
.botonSubmit {
  padding: 0.8rem 2rem;
  border: 1px solid #2c2c2c;
  display: flex;
  align-items: center;

  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}
.select {
  height: 43.2px;
}

/*****************  Tiendas  *******************/

.title-map-container {
  text-align: center;
  margin: 50px;

}

.map-container {
  position: relative;
  overflow: hidden;
  padding-top: 20%; /* Aspect ratio 16:9 (divide el alto entre el ancho y lo multiplica por 100 para obtener el porcentaje) */
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.info-store-container{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}

.info-horarios{
  margin-top: 20px;
}


.facebook-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.instagram-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/************  Acerca de Nosotros  ************/

/*****************  Footer  *******************/

footer {
  background:  rgba(49, 109, 3, 0.85);
  padding: 60px 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}

.partFooter {
  width: 20%;
  text-align: center;
}

.partFooter h4 {
  color: #eee;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}

.partFooter a {
  display: block;
  text-decoration: none;
  color:#eee;
  font-weight: 300;
  transition: color .3s ease-in-out;
  margin-bottom: 10px;
}


.partFooter a:hover {
  color: #b59a61;
}

.partFooter img {
  width: 70%;
}

.social-media i {
  font-size: 20px;
  display: inline-block;
  color: #adb6c7;
  border: 1px solid #adb6c7;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  line-height: 36px;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
  transition: all ease-in-out .3s;
  margin-right: 5px;
}

.social-media i:hover {
  color: #fff;
  background-color: #b59a61;
  border-color: #b59a61;
}
 
/***************  Break Points  ***************/
/*------------------CORREGIR------------------*/

/* Estilos para pantallas más pequeñas (hasta 680px) */
@media screen and (min-width: 150px) and (max-width: 680px) {
 

  /*Navbar*/
  .checkbtn {
    display: block;
  }

  .navbar {
    height: 0vh;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #2c3e50;
    text-align: center;

    transition: all 0.5s;
    overflow: hidden;
  }

  .navbar ul.menu {
    float: none;
    display: block;
    width: 174px;
    margin: 0 auto;
    opacity: 0;
  }

  .navbar ul.menu li a:hover {
    color: #b59a61;
  }

  /* Active navbar */
  .navbar.active {
    height: 100vh;
  }

  .navbar.active ul.menu {
    opacity: 1;
  }

  /* Slider */

  .contenido-slider{
    flex-direction: column-reverse;
  }

  .contenido-slider > div{
     width: 80%;
  }
  /* Articulo */
  
  .articulo {
    width: 45%;
}
 
  /* Formulario */
  .datos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    grid-gap: 1em;
  }
  .email {
    grid-area: 2/1 / span 1 / span 2;
  }
  .contenedorDelSelect {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .select {
    height: 2.5em;
    grid-area: 1/2 / span 1 / span 1;
    align-self: center;
  }
  .checkBox {
    grid-area: 3/1 / span 1 / span 2;
  }
  .preguntaDelSelect {
    text-align: left;
    font-size: 30px;
  }
  .imagenContacto {
    height: 35vh;
  }
  .subTexto {
    font-size: 3.5vw;
  }
  .botonSubmit {
    padding: 0.8rem 2rem;
  }

/* Footer */
.partFooter {
  width: 95%;
  margin-bottom: 40px;
}
}

@media only screen and (max-width: 768px) {
  .map-container {
     padding-top: 75%;
  }
}

@media only screen and (max-width: 480px) {

  /*****************  Tiendas  *******************/
  .map-container {
     padding-top: 100%;
  }

  .info-store-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social-media{
    display: flex;
    justify-content: center;
  }

  .social-media-container{
    margin-top: 10px;
  }

  /*****************  Tiendas  *******************/

}

.img-producto{
  width: 100%;
  height: auto;
}


/*:::Boton-Modal:::*/
.boton-modal{
  padding: 10px 15px;
  width: 110px;
  background-color: #5488a3;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300ms ease;
}
.boton-modal:hover{
  background-color: #185E83;
}
/*:::Fin Boton-Modal:::*/

/*:::Ventana Modal:::*/
#btn-modal{
  display: none;
}
.container-modal{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0; left: 0;
  background-color: rgba(144, 148, 150, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
#btn-modal:checked ~ .container-modal{
  display: flex;
}
.content-modal{
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
}
.content-modal h2{
  margin-bottom: 15px;
}
.content-modal p{
  padding: 15px 0px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}
.content-modal #btn-cerrar{
  width: 18%;
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}
.content-modal #btn-cerrar{
  padding: 7px 10px;
  background-color: #5488a3;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300ms ease;
}
.content-modal #btn-cerrar:hover{
  background-color:#185E83;
}
.cerrar-modal{
  width:100%;
  height: 100vh;
  position: absolute;
  top:0; left: 0;
  z-index: -1;
}
@media screen and (max-width:800px) {
  .content-modal{
      width: 90%;
  }
}
/*:::Fin Ventana Modal:::*/

